ion-header{
  background-color: #1e252d;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-bottom: 5em;
  ion-toolbar{
    --background: #1e252d;
    color: #fff;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    ion-title{
      font-size: 16px;
      margin-left: 23px;

    }
  }

  ion-buttons{
    margin-right: 15px;
  }
}

// common
.text_upper{
  text-transform: uppercase;
}
.plus-icon{
  font-size: 13px;
}
ion-header{
  .heading_top {
    padding-top: 15px !important;
  }
}
// header bottom
.header-bottom{
  height: 70px;
  img{
    border-radius: 100px;
    border: 2px solid #fff;
    /* padding: 4px; */
    box-shadow: 0px 0px 8px 0px 0px 0px 8px 0px rgba(0, 0, 0, 0.54);
    display: block;
    width: 100;
    margin: auto;
  }
  h6{
    display: block;
    text-align: center;
    width: 100%;
    margin: 7px 0 0;
    font-size: 15px;
    font-weight: 600;
  }
}

.progress_bar{
  display: flex;
  align-items: center;
  padding-right: 20px;
}
ion-progress-bar{
  margin-right: 8px;
  height: 8px;
  border-radius: 5px;
}
.border_red{
  border-color: #af0f0f;
  ion-progress-bar{
    --progress-background: #af0f0f;
  }
}
.border_green{
  border-color:  #0b9e30;
  ion-progress-bar{
    --progress-background: #0b9e30;
  }
}
.border_yellow{
  border-color:  #ecf111;
  ion-progress-bar{
    --progress-background: #ecf111;
  }
}
ion-card{
  //box-shadow: 0px 0px 7px -4px;
  //border-left: 5px solid;
  border-radius: 9px;
  margin-top: 16px;
  ion-row{
    padding: 0 10px;
  }

  ion-card-content{
    .due_date{
      text-align: right;
    }
    ion-col{
      ion-label{
        display: block;
        font-weight: 600;
        color: #000;
      }
      ion-text{
        color: rgb(95, 95, 95);
      }
    }
  }
}

.bg_theme{
  --background: #1e252d;
}
.bg_theme_green{
  --background: #9bbf54;
}

ion-footer{
  box-shadow: 0px 0px 7px 0px #000;
  ion-button{
    width: 100%;
    margin: 0;
    --border-radius: 0;
    --box-shadow: none;
    ion-icon{
      margin-right: 5px;
      padding: 10px;
    }
  }
}
.profile_img_act {
  display: flex;
  align-items: center;
  //justify-content: flex-end;
  ion-img{
    border-radius: 100%;
    overflow: hidden;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  span.more{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin-right: 10px;
  }
}
.badge {
  --background: #fff !important;
  --color: #15EFCB !important;
  padding: 3px 10px 3px 10px !important;
  border: 2px solid #15EFCB;
  font-weight: bold;
  border-radius: 10px;
}
.badge_cancel {
  --background: #15EFCB !important;
  --color: #fff !important;
  padding: 3px 10px 3px 10px !important;
  border: 2px solid #15EFCB;
  font-weight: bold;
  border-radius: 10px;
}

.img_top{
  margin-top: 23px !important;

}
ion-content{
    ion-card {
      .edit {
        //margin-top: -3px;
        margin-left: 5px;
        font-size: 18px;

        margin-top: -16px;
      }
    }
  }
ion-content{
  ion-card{
    ion-grid {
      margin-top: -14px;

      ion-row{
        display: flex;
        justify-content: left;
        margin-left: -22px;

      ion-col {


        display: flex;
        justify-content: left;

      }

      ion-img {
        width: 15px;
        //margin-top: -58px;
      }
        ion-text{
          margin-top: 3px;
          //text-align: center;
        }
    }
  }
  }
}
.location{
  margin-top: -8px;
  margin-left: -14px;

  //margin-top: 10px;
}
ion-content{
  ion-card{
    ion-card-header{
      color: #000;
    }
  }
}
.initiative_image{
  display: block !important;
  justify-content: center !important;
  justify-items: center;
}
.rounded{
  border: 3px solid #15EFCB;
  background: #15EFCB;
  border-radius: 50%;
  height: 1px;
  width: 1px;
  padding: 3px;
  margin-top: 8px;
  margin-left: 8px;
}
.yellow_rounded{
  border: 3px solid #ffce00;
  background: #ffce00;
  border-radius: 50%;
  height: 1px;
  width: 1px;
  padding: 3px;
  margin-top: 8px;
  margin-left: 8px;
}
.red-rounded{
  border: 3px solid #F60F2E;
  background: #F60F2E;
  border-radius: 50%;
  height: 1px;
  width: 1px;
  padding: 3px;
  margin-top: 0px;
  margin-left: 8px;
}
.margin-bottom{
  margin-bottom: -20px !important;
}
.text_upper{
  text-transform: uppercase;
}
